<footer class="bg-dark text-white py-4 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3">
        <h5>BookStore</h5>
        <p>La tua libreria online di fiducia.</p>
      </div>
      <div class="col-md-4 mb-3">
        <h5>Link utili</h5>
        <ul class="list-unstyled">
          <li><a routerLink="/" class="text-white">Home</a></li>
          <li><a routerLink="/prodotti" class="text-white">Prodotti</a></li>
          <li><a routerLink="/login" class="text-white">Accedi</a></li>
          <li><a routerLink="/register" class="text-white">Registrati</a></li>
        </ul>
      </div>
      <div class="col-md-4 mb-3">
        <h5>Contatti</h5>
        <address>
          <p><i class="bi bi-geo-alt-fill"></i> Via Roma, 123 - 00100 Roma</p>
          <p><i class="bi bi-envelope-fill"></i> info@bookstore.it</p>
          <p><i class="bi bi-telephone-fill"></i> +39 06 1234567</p>
        </address>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12 text-center">
        <p>&copy; {{ currentYear }} BookStore. Tutti i diritti riservati.</p>
      </div>
    </div>
  </div>
</footer>
